<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>销售简报</title>
    <script src="https://cdn.bootcss.com/vue/2.5.21/vue.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1020970_kmbt5fv3jh.css" />
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1020970_1hpon887aco.css"/>
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1020970_z36qfbyxrk.css"/>
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1020970_snj95mzy5xa.css"/>
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1020970_etbxef2u4n9.css"/>
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1020970_ga1aaur5ajm.css"/>
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1020970_874v6b3v1n5.css"/>
  </head>

  <body>
      <!--下拉组件 -->
    <div id="app">
      <div class="delete">
        <i class="iconfont icon icon-guanbi"v-for="(v,i) in item" key="i" v-text="v" @click="del(i)"></i>
        
      </div>
      <div class="Spinner">
          <input class="option" type="text" value="" v-model="item" placeholder="请选择想要操作的选项"/>
        <div class="content">
          <ul v-for="(v,i) in items" :key="i">
            <li ><!--v:值，i:索引-->
              <input class="check" type="checkbox" v-model="item" :value="v"/><!--checkbox-->
              <label v-text="v"></label> <!--文字-->
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--销售简报布局-->
    <section>
      <header>
        <div class="circinal"><i class="iconfont icon icon-wenzhang1"></i></div>
        <span>销售简报</span>
      </header>
      <article>
        <div class="box clearfix"><!--第一-->
          <div class="box-left clearfix">
            <div class="left"><i class="iconfont icon icon-ren1"></i></div>
            <div class="right">
              <p>33<span>个</span></p>
              <p>新增客户数</p>
            </div>
          </div>
          <div class="box-right clearfix">
            <div class="left">
              <i class="iconfont icon icon-lianxirenqunzu"></i>
            </div>
            <div class="right">
              <p>22<span>个</span></p>
              <p>新增联系人</p>
            </div>
          </div>
        </div>
        <div class="box clearfix"><!--第二-->
          <div class="box-left clearfix">
            <div class="left">
              <i class="iconfont icon icon-quanzi-xuanzhong"></i>
            </div>
            <div class="right">
              <p>47<span>个</span></p>
              <p>新增商机数</p>
            </div>
          </div>
          <div class="box-right clearfix">
            <div class="left"><i class="iconfont icon icon-xin"></i></div>
            <div class="right">
              <p>3<span>个</span></p>
              <p>阶段变化的商机</p>
            </div>
          </div>
        </div>
        <div class="box clearfix"> <!--第三-->
          <div class="box-left clearfix">
            <div class="left"><i class="iconfont icon icon-bijiben"></i></div>
            <div class="right">
              <p>3<span>个/</span>2<span>次</span></p>
              <p>新增商机数</p>
            </div>
          </div>
          <div class="box-right clearfix">
            <div class="left">
              <i class="iconfont icon icon-fl-xiaoshoudan"></i>
            </div>
            <div class="right">
              <p>6<span>条</span></p>
              <p>新增销售记录</p>
            </div>
          </div>
        </div>
      </article>
    </section>
  </body>
</html>
<script>
  new Vue({
    el: "#app",
    data: {
      item: [],
      items: ["变更中", "未生效", "作废", "正常", "审核中"],
      value: ""
    },
    methods: {
      del(i) {
        this.item.splice(i, 1);
      }
    }
  });
</script>
<style>
#app{
      width:455px;
      margin:auto;
  }
 .content ul{
     list-style: none;
  }
  .content  li{
      height:30px;
      color:white;
  }
  .content .check{
      width:30px;
  }
  .delete i.icon-guanbi{
    width:80px;
    height:30px;
    display:inline-block;
    line-height: 30px;
    text-align: center;
    border-width: 0ch;
    border-radius:40px;
    color:white;
    font-size:14px;
    background-color:#94c890;
  }
  .Spinner{
      margin:20px auto;
  }
  .Spinner input:nth-child(1){
     border-width: 0ch;
     border-radius:3px;
  }
  .option{
      width:100%;
      height:30px;
      text-indent:16px;
  }
</style>
